<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>image</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>image</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3</string>
		<key>image</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4</string>
		<key>image</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>image</key>
		<string>5.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>10</string>
		<key>image</key>
		<string>10.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8</string>
		<key>image</key>
		<string>8.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>image</key>
		<string>11.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>image</key>
		<string>7.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>image</key>
		<string>12.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>6</string>
		<key>image</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>image</key>
		<string>13.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>14</string>
		<key>image</key>
		<string>14.jpg</string>
	</dict>
</array>
</plist>
